.page {
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.pageWithSidebar {
  display: flex;
  height: 100%;
  width: 100%;
  background: linear-gradient(116deg, #2D3044 -0.32%, #778BBD 83.57%);
}

.sidebarRoot {
  width: 350px;
  height: 100%;
  overflow-x: hidden;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.sidebarRootHidden {
  width: 56px;
  height: 100%;
  overflow-x: hidden;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;

  background-color: var(--light-bg-1);
}

.main-page-content {
  display: flex;
  height: calc(100vh - 96px);
  width: 100%;
}

.pageWrapper {
  width: calc(100% - 350px);
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  border-radius: 30px;
  border-right: 1px solid #EDEDED;
  background: #F7F7FA;
}

.sidebarContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pageWrapperWithHiddenMenu {
  width: calc(100vw - 56px);
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;

  background-color: var(--light-bg-2);
}

.title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding-left: 1.5rem;
}

.title img {
  margin-right: 6px;
}

.navigation {
  padding: 0 16px;
}

.homePage {
  border-bottom: 0.5px solid #7a7a7a;
}
.navItem {
  display: flex;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  color: white;
  margin-bottom: 10px;
  border-radius: 40px;
  padding: 12px 20px;

  transition: 0.2s ease all;
}

.navItemIcon {
  width: 25px;
  height: 24px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}

.navItem:hover {
  border-radius: 32px;
  background: var(--secondary-blue-80, #51546F);

  color: #fff;

}

.navItemActive {
  border-radius: 32px;
  background: var(--secondary-blue-80, #51546F);

  color: #fff;

  transition: 0.2s ease all;

}
.companyName {
  padding: 12px 20px;
  display: flex;
  flex-direction: column;

  margin-bottom: 16px;

  color: white;
}
.shortDescription {
  color: white;
  text-transform: uppercase;
  font-family: Bebas Neue, sans-serif;
  font-size: 21px;
  font-weight: 500;
}