.authorization {
  display: flex;
  align-items: center;
  width: 100%;
}

.auth_btn {
  width: 50%;
}
.google_auth_block {
  width: 25%;
}

.or_block {
  width: 25%;
  display: flex;
  justify-content: center;
}