.signInContent {
  height: 100%;
  border-radius: 32px;
}
.signInContent_content {
  width: 660px;
  padding: 0 108px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registrationTitle {
  font-size: 38px;
  font-weight: 500;
  color: var(--blue-1);
}