.loginForm {
  width: 100%;
  max-width: 444px;
}

.loginInputList {
  display: flex;
  flex-direction: column;
}

.passwordRecovery {
  text-decoration: underline;
  font-weight: 600;
  font-size: 13px;
  color: #c8c8c8;
}

.passwordRecovery:hover {
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  color: black;
}

.auth_input {
  margin-bottom: 16px;
}

.forget-password {
  color: #C8C8C8;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  text-decoration-line: underline;
  margin-bottom: 40px;
}