.carousel_container {
  width: 100%;
  position: relative;
  padding: 0 50px;
  margin-top: 40px;
}

.carousel_content_wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.carousel_content {
  transition: all .2s linear;
  display: flex;
  pointer-events: auto;
  position: relative;
}
.carousel_content > * {
  flex-shrink: 0;
  flex-grow: 1;
}
.left_arrow, .right_arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;

  border: 1px solid var(--blue-1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left_arrow {
  left: 0;
  cursor: pointer;
  transition: ease-out 0.4s;
}
.right_arrow {
  right: 0;
  cursor: pointer;
  transition: ease-in 0.4s;
}

.disableArrow {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

.carousel_item {
  width: 19%;
  height: 140px;
  border-radius: 24px;
  margin: 0 0.5%;

  background-color: var(--light-bg-1);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid var(--light-1);
}

.carousel_item:first-child {
  background-color: var(--light-bg-3);
}

.carousel_item:first-child .addBtn {
  color: white;
  background-color: var(--blue-1);
}

.carousel_item_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addBtn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-bg-3);
  color: black;

  transition: 0.2s ease all;
}

.addBtn:hover {
  background-color: var(--blue-1);
  color: white;
  cursor: pointer;
}
 
@media screen and (max-width: 900px) {
  .name_of_arrow{
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .carousel_item{
    width: 24%;
  }
}