.AuthInput {
  border-radius: 10px;
  background-color: #F1F3F8;
  padding: 18px 24px;
  border: none;
  color: #727272;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}