.cardFooter {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resultBlock_value {
  font-weight: 400;
  font-size: 24px;
  color: rgba(32, 32, 32, 1);
}

.resultBlock_title {
  text-transform: uppercase;
  margin-right: 1rem;
}