.topMenu { 
  height: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--light-1);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background:#F7F7FA;
  padding: 0 25px;
}

.navItemTitle {
  min-width: 0px;
  white-space: nowrap;
}

.profile {
  margin-left: auto;
}